# ====================
# Flutter
# ====================
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.idea/
**/.vscode/
**/.android/
**/.ios/
**/macos/
**/web/.dart_tool/
**/linux/
**/windows/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.dart_tool/
.melos_tool/
coverage/
.env

# VS Code
**/.vscode/
*.code-workspace

# macOS
.DS_Store

# ====================
# Django
# ====================
*.pyc
__pycache__/
db.sqlite3
*.sqlite3
.env
.env.*
*.log

# Django specific folders
/static/
media/
local_settings.py

# PyCharm
*.iml
.idea/

# Virtualenv
venv/
ENV/
env/
.venv/

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
.pyright/

# coverage reports
htmlcov/
.coverage
.coverage.*

# pytest
.pytest_cache/

# Celery
celerybeat-schedule

# Sentry CLI
.sentryclirc

# ====================
# Global
# ====================
*.swp
*.swo
*.bak
*.tmp
*~
